.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 2%;
}
.leftSide {
  width: 65%;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.headerContainer {
  border: black 1.5px solid;
  border-radius: 20px;
  background-color: #fd45573f;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12%;
}
.imageContainer {
  border: black 1.5px solid;
  height: 64%;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imageContainer img {
  object-fit: cover;
  max-width: calc(100% + 50px);
  min-height: 100%;
  min-width: calc(100% + 50px);
  max-height: calc(100% + 50px);
  width: auto;
  height: auto;
}
.techContainer {
  height: 20%;
  display: flex;
  flex-direction: row;
}
.techItem {
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  border: black 1.5px solid;
}
.rightSide {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.descriptionContainer {
  border: black 1.5px solid;
  border-radius: 20px;
  height: 32%;
  margin: 0;
  overflow-y: auto;
  padding: 15px;
}
.githubContainer {
  height: 32%;
  border: black 1.5px solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content doesn't overflow */
  padding: 0;
  margin: 0;
  flex-shrink: 0; /* Prevent shrinking of container */
  cursor: pointer;
}
.githubImage {
  width: 60%;
  transition: width 0.6s ease-in-out; /* Animation on width change */
}
.githubContainer:hover .githubImage {
  width: 80%;
}
.linkImage {
  width: 60%;
  transition: width 0.6s ease-in-out; /* Animation on width change */
}
.linkContainer:hover .linkImage {
  width: 80%;
}

.linkContainer {
  height: 32%;
  border: black 1.5px solid;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure content doesn't overflow */
  padding: 0;
  margin: 0;
  flex-shrink: 0; /* Prevent shrinking of container */
  cursor: pointer;
}
