.homeContainer {
  width: 40%;
  padding: 15px;
}
.descriptionContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.descriptionBar {
  width: 20px;
  background-color: #fd4556;
  margin-left: 20px;
}
