.projectListContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.projectItem {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
}
.projectName {
  color: var(--accent-color);
  text-align: end;
}
.projectDescription {
  text-align: end;
}
.projectItem:hover {
  opacity: 0.78;
}
