.links {
  display: flex;
}
.link {
  width: 160px;
  padding-left: 12px;
  padding-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}

.active {
  border: black 1px solid;
  border-bottom: none;
  background-color: white;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 98%;
}
